*{
    margin: 0;
    padding: 0;
    font-family: VCR;
    font-size: 3vh;
    outline: none;
}

h1{
    font-size: 5vh;
}

.parrafo{
    margin-bottom: 14px;
}

.imagenDeQuienSoy{
    width: 100%;
   
    }
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 2vh;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 60px;
    padding-bottom: 70px;
    background-attachment: fixed;
}

.container-fluid-footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-attachment: fixed;
}


.container-fluid-1{
    padding-top: 70px;
    padding-bottom: 70px;
    background-attachment: fixed;
    background: rgba(0,0,0,.5);
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.imgcontainer {
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,.5);
    height: 10%;
}



img.avatar {
    margin-top: 10px;   
    width: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

img.avatar{
    transition: 0.5s;
    cursor: pointer;
  }

  img.avatar:hover,img.contact:hover
  {
      transform:scale(1.05);
  }

  .contact{
    width: 80%;
    transition: 0.5s;
    cursor: pointer;
  }

  .contactContainerG{
    position: fixed;
    bottom: 1em;
    right: 1em
  }

  .contactContainerL{
    position: fixed;
    bottom: 1em;
    right: 5em;
    
   
  }

  .contactContainerI{
    position: fixed;
    bottom: 1em;
    left: 1em;
    
   
  }
