<div class="imgcontainer">
  <img src="./assets/imagenes/titulo.png" alt="Avatar" class="avatar" max-width="104" routerLink="/principal">
</div>


<!-- First Container -->
<div id="quiwn" class="container-fluid-1 bg-1 text-center">
  <br>
  <br>
  <!--ARREGLAR DESPUES-->
  <img src="../../../assets/imagenes/WhatsApp-Image-2018-05-08-at-8.10.png" class="img-responsive img-circle margin"
    style="display:inline" alt="Bird" width="300" height="300">
  <h1>Galarza Lautaro</h1>
</div>

<!-- Second Container -->
<div id="que" class="container-fluid bg-2 text-center">
  <h3 class="margin">EL JUEGO DEL AHORCADO</h3>
  <p>El ahorcado es un juego de adivinanzas en el cual el objetivo es encontrar las letras que conforman a la palabra
    oculta,
    al principio la palabra esta conformada por guiones(-) y el objetivo es reemplazar estos guiones eligiendo la letra
    correcta
    Pero si la letra elegida es incorrecta sumara un error y solo se permiten 6 errores antes de perder.</p>
</div>

<!-- Third Container (Grid) -->
<div id="donde" class="container-fluid bg-3 text-center">
  <h3 class="margin">Dónde Funciona?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
      <br>
      <img src="../../../assets/imagenes/quiensoy1.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
    <div class="col-sm-4">
      <p class="parrafo">Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea
        fluido y pensado
        en el comportamiento del usuario y en la funcionalidad.</p>
      <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
      <br>
      <img src="../../../assets/imagenes/quiensoy3.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
  </div>
</div>


<!--<footer class="container-fluid-footer bg-4 text-center">
      <p>Gracias a @torasshuu por dejarme usar este fondo</p>
  </footer>-->

<div class="contactContainerL">
  <a target="_blank" href="https://www.linkedin.com/in/lautaro-galarza-354a75159/"> <img
      src="./assets/imagenes/linkedin.png" alt="Avatar" class="contact" max-width="104"></a>
</div>
<div class="contactContainerG">
  <a target="_blank" href="https://github.com/Lautarogalarza"> <img src="./assets/imagenes/github.png" alt="Avatar"
      class="contact" max-width="104"></a>
</div>
<!--<div class="contactContainerI">
    <a target="_blank" href="https://www.instagram.com/torasshuu/"> <img src="./assets/imagenes/instagram.png" alt="Avatar" class="contact" max-width="104"></a>
  </div>-->