<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/8bit-wonder" type="text/css"/>

<app-cabecera></app-cabecera>
<table class="tabla">
  <thead>
    <tr>
      <th>USUARIO</th>
      <th>GANO</th>
      <th>PERDIO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let juego of listado">
      <td>{{juego.usuario}} </td> 
      <td>{{juego.gano}}</td>   
      <td>{{juego.perdio}}</td>     
    </tr>
    <tr>
      <td>aasdasd</td>
      <td>asdasd </td> 
      <td>asdasd</td>   
    </tr>
  </tbody>
</table>