*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: VCR;
    font-size: 2vh;
    text-decoration: none;
}

table, th, td {
    border: 1px solid  #C5EDF4;
  }

.tabla
{
    position: absolute;
    top: 15%;
    left: 15%;
    transform: rotate(-50%,-50%);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    width: 70%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

th
{
    color: ghostwhite;
    padding: 2%;
    border-bottom: 1px solid;
    border-radius: 15px;
}

td
{
    color: ghostwhite;
    padding: 2%;
}



