*{
    margin: 0%;
    padding: 0%;
    outline: none;
}

.loginContenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/*::ng-deep .carousel-control-prev-icon{
  background-image: url('your-replacement.svg');
}
::ng-deep .carousel-control-next-icon{
  background-image: url('your-replacement.svg');
}*/

::ng-deep.carousel-control-prev-icon,
::ng-deep.carousel-control-next-icon {
  height: 100px;
  width: 100px;
    outline: navy;
  background-size: 100%, 100%;
 /* border-radius: 50%;
  border: 2px solid navy;*/
 /* background-image: none;*/
  
}

::ng-deep.carousel-control-next-icon:after
{
  /*content: '>';
  font-size: 55px;
  color: navy;
 /* opacity: 200;*/
}

::ng-deep.carousel-control-prev-icon:after {
 /* content: '<';
  font-size: 55px;
  color: navy;*/
}


.login{
    
    text-align: center;
    /*background: rgba(0,0,0,.5);*/
    background:rgba(0,0,0,.5);
    border-radius: 10%;
    position: absolute;
    top: 50%;
    width: 70vw; 
    height: 65vh;  
    transform: translateY(-50%);
    overflow: hidden;
}

/*.subLogin{

  padding: 100px 20px;
  margin: 8px 0;
  width: 100%;
  height: 100%;
}*/
 /*.ngb-carousel{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }*/

 .picsum-img-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.imgcontainer {
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,.5);
}

.botoncontainer {
    position: absolute;
    right: 2%;
}

.quiensoyboton{
    margin-top: 10px;   
    width: 50%;
    margin-left: auto;
    display:block;
}

.salircontainer {
    position: absolute;
    left:1%;
}

.salirboton{
    margin-top: 4px;   
    width: 60%;
    display: block;
  margin-right: auto;
}

img.avatar {
    margin-top: 10px;   
    width: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


  img.salirboton,img.quiensoyboton, img.carousel{
    transition: 0.5s;
    cursor: pointer;
  }

  img.carousel:hover, img.quiensoyboton:hover,img.salirboton:hover
  {
      transform:scale(1.05);
  }

