
<app-cabecera></app-cabecera>
 
<div class="container">
  <div class="loginContenedor">
    <div class="login">
      <div class="subLogin">

        <ngb-carousel [interval]="false">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="./assets/imagenes/saladejuegos.png" alt="Random first slide" class="carousel"
                routerLink="/juegos">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="./assets/imagenes/listado.png" alt="Random third slide" class="carousel" routerLink="/listado">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="./assets/imagenes/Configuracion.png" alt="Random second slide" class="carousel"
                (click)="User()">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../assets/imagenes/alumno.png" alt="Random third slide" class="carousel"
                routerLink="/jugadores">
            </div>
          </ng-template>
        </ngb-carousel>

        
      </div>

    </div>
  </div>
</div>