<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>
<div class="container">
  <div class="loginContenedor">
    
    <form class="login">
      <div class="imgcontainer">
        <img src="../../../assets/imagenes/register.gif" alt="Avatar" class="avatar" max-width="104" >
      </div>
      
      <div class="subLogin">

        <input type="email" id="fname" class="sinError" name="firstname" placeholder="Correo Electronico">

        <br>

        <input type="password" id="lname" class="sinError" name="lastname" placeholder="Contraseña">
        <br>

        <input type="password" id="lname" class="sinError" name="lastname" placeholder="Repita la contraseña">
        <br>

        <button class="botonLogin">Registrarse</button>
        <button class="botonRegister"  routerLink="/Login" >Cancelar</button>
      </div>

    </form>
  </div>

</div>