*{
    margin: 0%;
    padding: 0%;
    outline: none;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    color: whitesmoke;
    font-size: 3vh;
    
}

  
.cont-memotest {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  
.lbl-memotest {
    top: 0%;
    height: 20%;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--red);
    vertical-align: middle;
}
  
.cont-juego-memotest {
    text-align: center;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 55%;
    width: 70vw; 
    height: 80vh;  
    transform: translateY(-50%);
    overflow: hidden;
}

.mensajeReiniciar{

    position: relative;
    top: 40%;

}

.botonReiniciar {
    width: 40%;
    height: 7vh;
    border: blue;
    background-color: lightskyblue;
    color:grey;
    border-radius: 4px;
    font-size: 1rem;
    transition: 0.5s;
}

.botonReiniciar:hover{
    background: rgb(84, 84, 245);
    transform:scale(1.05);
    color: whitesmoke;
}

.cont-tablero-memotest {
    position: relative;
    top: 10%;
    text-align: center;
    background: red(0,0,0,.5);
    width: 100%; 
    height: 100%;  
}

h2 {
    color: white;
}

.casilla_0, .casilla_1, .casilla_2, .casilla_3, .casilla_4, .casilla_5, .casilla_6, .casilla_7, .casilla_8, .casilla_9, .casilla_10, .casilla_11 {
    height: 23%;
    width: 20%;
    margin: 3px;
    background-size: 100% 100%;
    border: 0px;
    background-color:transparent;
}

.casilla_0 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.casilla_1, .casilla_2 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.casilla_3 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.casilla_4 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.casilla_5, .casilla_6 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.casilla_7 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.casilla_8 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.casilla_9, .casilla_10 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.casilla_11 {
    border-left: 3px solid #C5EDF4;
    border-right: 3px solid #C5EDF4;
    border-top: 3px solid #C5EDF4;
    border-bottom: 3px solid #C5EDF4;
}

.f_0 {
    background-image: url("../../../assets/imagenes/memo-1.png");
    background-size: 100% 100%;
}

.f_1 {
    background-image: url("../../../assets/imagenes/memo-2.png");
    background-size: 100% 100%;
}

.f_2 {
    background-image: url("../../../assets/imagenes/memo-3.png");
    background-size: 100% 100%;
}

.f_3 {
    background-image: url("../../../assets/imagenes/memo-4.png");
    background-size: 100% 100%;
}

.f_4 {
    background-image: url("../../../assets/imagenes/memo-5.png");
    background-size: 100% 100%;
}

.f_5 {
    background-image: url("../../../assets/imagenes/memo-6.png");
    background-size: 100% 100%;
}