
<form name="juego">

   <label *ngIf="habilitado" >INGRESE NUMERO:  </label>  <input  *ngIf="habilitado"  [(ngModel)]="nuevoJuego.numeroIngresado" name="numeroIngresado" type="text" class="form-control" style="width:50%" />

 
    <h2 [hidden]="ocultarVerificar"><button  *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="verificar">Verificar</button></h2>
 
    <h2><button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()"  class="nuevoNumero">Nuevo numero secreto</button></h2>
 
    <h2><p *ngIf="nuevoJuego.numeroSecreto!=0" >  Esperando que ingrese un numero</p></h2>

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el numero</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aun no gano </h3>


</form>
<div id="snackbar">{{Mensajes}}</div>