
<app-cabecera></app-cabecera>
<table class="tabla">
  <thead>
    <tr>
      <th>JUEGO</th>
      <th>JUGADOR</th>
      <th>GANO</th>
      <th>PERDIO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let juego of listado">
      <td>{{juego.juego}}</td>
      <td>{{juego.usuario}} </td> 
      <td>{{juego.gano}}</td>   
      <td>{{juego.perdio}}</td>     
    </tr>
    <tr>
      <td>aasdasd</td>
      <td>asdasd </td> 
      <td>asdasd</td>   
      <td>asdasd</td> 
    </tr>
  </tbody>
</table>