

.imgcontainer {
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,.5);
}

.botoncontainer {
    position: absolute;
    right: 2%;
}

.quiensoyboton{
    margin-top: 10px;   
    width: 70%;
    margin-left: auto;
    display:block;
}

.salircontainer {
    position: absolute;
    left:1%;
}

.salirboton{
    margin-top: 4px;   
    width: 80%;
    display: block;
  margin-right: auto;
}

img.avatar {
    margin-top: 10px;   
    width: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


  img.salirboton,img.quiensoyboton{
    transition: 0.5s;
    cursor: pointer;
  }

   img.quiensoyboton:hover,img.salirboton:hover
  {
      transform:scale(1.05);
  }

