*{
  z-index: 1001;
  font-family: VCR;
  font-size: 8vh;
  color: #C5EDF4;
  text-align: center;
  letter-spacing: 1px;
}

h1{
  position: fixed;
  width: 100vw;
  background: rgba(0,0,0,.5);
}

.container{
  position: fixed;
  z-index: 1000;
  width: 100vw;
  
}

.imgcontainer {
    position: fixed;
    width: 100vw;
    background: rgba(0,0,0,.5);
}

.botoncontainer {
  position: fixed;
    right: 2%;
}

.quiensoyboton{
    margin-top: 10px;   
    width: 70%;
    margin-left: auto;
    display:block;
}

.salircontainer {
  position: fixed;
    left:1%;
}

.salirboton{
    margin-top: 4px;   
    width: 80%;
    display: block;
  margin-right: auto;
}

img.avatar {
    margin-top: 10px;   
    width: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


  img.salirboton,img.quiensoyboton{
    transition: 0.5s;
    cursor: pointer;
  }

   img.quiensoyboton:hover,img.salirboton:hover
  {
      transform:scale(1.05);
  }

