
<div id="containerGame" class="container" [hidden]="visibleJuego" >
    <div class="jugador" [ngClass]="{disabled: dashabilitado == true}" >
        <h1>TU</h1>
        <div class="imagenes">
            <img src="../../../assets/imagenes/piedra.png" (click)="Juego(1)" id="piedra" alt="">
            <img src="../../../assets/imagenes/papel.png" (click)="Juego(2)" id="papel" alt="">
            <img src="../../../assets/imagenes/tijera.png" (click)="Juego(3)" id="tijera" alt="">
        </div>
        <h1 class="puntosJugador" id="puntosJugador">Puntos: {{intentosJugador}} </h1>
    </div>
    <div class="maquina"  [ngClass]="{fondoPiedra: jugadaMaquina == 'Piedra', fondoPapel: jugadaMaquina == 'Papel', fondoTijera: jugadaMaquina == 'Tijera',fondoVacio:jugadaMaquina==null}">
        <h1>MAQUINA</h1>
        <h1 class="puntosMaquina" id="puntosMaquina">Puntos: {{intentosMaquina}} </h1>
    </div>
</div>

<div class="containerMensaje" id="containerMensaje" [hidden]="visibleResultado">
    <div>
        <p> {{mensaje}} </p>
        <button (click)="reiniciar()">VOLVER A JUGAR</button>
        <button routerLink="/juegos">RETIRARSE</button>
    </div>
</div>