

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: VCR;
    font-size: 3vh;
    color: #00ff97;
}

.containerGame
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 80%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.container
{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    background:rgba(0,0,0,.5);
}

.fila
{
    width: 100%;
    height: 100%;
    border: 1px solid #00ff97;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celda
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 100%;
    border: 1px solid #00ff97;
    cursor: pointer;
}

img
{
    width: 50%;
}

.disabled
{
    pointer-events: none;
}

.containerMensaje
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 70%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    animation: aparicion ease-in 0.1s;
    P{
       color: #00ff97;
    }
}

@keyframes aparicion
{
    0%{width: 0%; height: 0%;}
    100%{width: 70%; height: 40%;}
}

@keyframes aparicion-button
{
    0%{width: 0%; height: 0%;}
    100%{width: 30%; height: 20%;}
}

@keyframes aparicion-p
{
    0%{font-size: 0em;}
    100%{font-size: 3em;}
}

.containerMensaje p
{
    animation: aparicion-p ease-in 0.1s;
}

p
{
    font-size: 3em;
    letter-spacing: 5px;
    color: black;
}


.disabled{
    pointer-events: none;
}

button
{
    width: 60%;
    height: 20%;
    margin: 1%;
    background: #00ff97;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    color: grey;
    animation: aparicion-button ease-in 0.1s;
    font-size: 1em;
    transition: 0.5s;
}

button:hover
{
    background: #05c779;
    color: whitesmoke;
    transform:scale(1.05);
}

h1
{
    position: absolute;
}

.desafiar
{
    bottom: 2%;
    background:rgba(0,0,0,.5);
}

.presentacion
{
    top: 5%;
}