

*
{
    margin: 0;
    padding: 0;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:  transparent;
    border-radius: 10px;
}

.containerAnagrama
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 70%;
    background-color: rgba(0,0,0,.5);
}

.containerPalabra
{
    margin-top: 10%;
    margin-bottom: 11%;
    width: 80%;
    background: rgba(255, 255, 255, 0.679);
    text-align: center;
}

input[type=text]
{
    width: 100%;
    text-align: center;
    border: none;
    height: 48px;
    font-size: 1.5em;
    outline: none;
}

h1
{
    position: absolute;
    top: 25%;
    font-size: 2.0em;
    color: ghostwhite;
}

button
{
    position: absolute;
    top: 65%;
    width: 50%;
    height: 10%;
    background: #b779ff;
    border-radius: 4px;
    border: none;
    font-size: 2em;
    outline: none;
    transition: 0.5s;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
}

button:hover
{
    background: #7e5695;
    transform:scale(1.05);
}


.mensaje{

    position: absolute;
    border-radius: 4px;
    text-align: center;
    top: 89%;
    font-size: 1.5em;
    height: 10%;
    h2{
        color: whitesmoke;
        top: 15%;
        position: relative;
    }
    
}


   

